.about-me {
    display: flex;
    width: 100%; 
    height: 100vh;
    margin: 0 auto;
    line-height: 1.6;
    background-image: url("/aboutMeDark.png"); 
    background-size: cover; 
    background-position: center;
}

.all-text-wrapper {
    color: #E0E0E0;
}

.about-me p {
    margin-bottom: 1rem;
}

.avatarWrapper {
    display: flex;
    width: 55%; 
    margin: 0 auto; 
    align-items: center; 
}


.avatarWrapper > div:first-child {
    flex-basis: 40%;
}

.avatarWrapper > div:last-child {
    flex-basis: 60%; 
}

.avatar-circle {
   width: 18rem;
}

.About-Title {
    font-size: 3rem;
    font-weight: 600;
}

.my-name-wrapper {
    display: flex;
    margin-bottom: 1rem;
    font-size: 2rem;
}

.my-name-color {
    color: #1da9cc;

}

@media (max-width: 1024px) { 
    .about-me {
        width: 100%; 
        height: 100vh;
        margin: 0 auto;
        line-height: 1.2;
    }

    .avatarWrapper {
        width: 100vw;
    }

    .About-Title {
        font-size: 2.5rem;
        padding-bottom: 1rem;
    }

    .my-name-wrapper {
        font-size: 2rem;
    }

    .avatarWrapper > div:last-child {
        flex-basis: 100%; 
        margin: 1rem;
    }

    .about-me-text {
        font-size: 1.1rem;
    }
}