.familyName, .familyName2, .myName {
    color: rgb(255, 236, 236);
}

.familyName, .familyName2 {
    font-size: 3rem;
}



.myName {
    padding-top: 0.5rem;
    font-size: 2rem;
    color: rgb(255, 236, 236);
}


@media (max-width: 768px) { 
    .cardIdentityWrapper {
        text-align: center;
        padding-bottom: 2.5rem;        
    }

    .familyName, .familyName2 {
        font-size: 2.5rem;
    }
}

.familyName2.fillAnimation {
    color: transparent;
    -webkit-text-stroke: 1px #ffffff;
    position: relative;
    overflow: hidden;
}

.familyName2.fillAnimation::before {
    content: attr(data-text);
    position: absolute;
    left: 0;
    top: 0;
    color: #ffffff;
    width: 0;
    white-space: nowrap;
    overflow: hidden;
    animation: fill 1s ease forwards;
}

@keyframes fill {
    to {
        width: 100%;
    }
}
