.familyName, .familyName2, .myName {
    color: rgb(255, 236, 236);
}

.familyName, .familyName2 {
    font-size: 3rem;
}



.myName {
    padding-top: 0.5rem;
    font-size: 2rem;
    color: rgb(255, 236, 236);
}

.cardIdentityWrapper {
    margin-top: -2rem;
}

@media (max-width: 768px) { 
    .cardIdentityWrapper {
        text-align: center;
        padding-bottom: 2.5rem;
    }
}