.education-container {
    display: block;
    width: 100%; 
    height: 100vh;
    margin: 0 auto;
    line-height: 1.6;
    background-image: url("/school.png"); 
    background-size: cover; 
    background-position: center;
}

.main-text-education {
    max-width: 800px; /* Définit une largeur maximale pour recentrer le contenu */
    width: 100%;
    margin: 0 auto; /* Centre le conteneur horizontalement */
    padding: 1rem;
}

.logo-school-container {
    padding-top: 5rem;
    padding-left: 3rem;
    width: 17%;
}

.education-container {
    display: flex;
    flex-direction: column;
}

.cda, .cursus-title {
    padding: 0;
    text-align: left;
}

.cursus-title {
    font-size: 2rem;
    padding-bottom: 3rem;
    font-weight: 600;
}

.dwwm {
    padding-top: 4rem;
    text-align: right;    
}

.cda-title {
    display: flex;
    font-size: 1.8rem;
}

.dwwm-title {
    display: flex;
    align-items: center;
    font-size: 1.8rem;
    justify-content: flex-end;
}

.cda-title p {
    margin: 0;
}

.rncp {
    font-size: 1.5rem;
}

.cda-entity, .dwwm-entity {
    font-weight: 600;
    color: #5ce1e6;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}

.dwwm-entity {
    padding-right: 0;
}

@media (max-width: 1024px) {
    
    .logo-school-container {
        padding-top: 2rem;
        width: 50%
    }
    
    .main-text-education {
        padding-top: 2rem;
    }

    .cursus-title {
        padding-bottom: 2rem;
        padding-left: 0.5rem;
    }

    .devopsOption, .cda-flex {
        display: flex;
    }

    .cda-flex {
        font-size: 2rem;
    }

    .devopsOption {
        font-size: 1.5rem;
        padding-left: 0.5rem;
    }

    .more-details {
        font-size: 1.2rem;
        padding-left: 0.5rem;
    }
    
    .rncp {
        padding: .5rem .5rem 0 .5rem;
        font-size: 1.4rem;
    }
}