.presentationCard {
    display: flex;
    justify-content: center;
    gap: 3rem;
    align-items: center;
    background-image: linear-gradient(120deg, #b0fade 10%, #70cfff 80%);
}


.bibi {
    font-size: 2rem;
}

@media (max-width: 768px) { 
    .presentationCard {
        height: 100vh;
        display: block; 
        align-items: flex-start; 
    }
}

