.header {
    position: sticky;
    top: 0;
    background-color: white;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.4rem 2rem;
    z-index: 1;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav {
    font-weight: 600;
    font-size: 1.125rem;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navFlag {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    right: 2rem;
}

.nav-item {
    padding: 1rem;
    border-bottom: 2px solid transparent;
    transition: all 0.2s;
    cursor: pointer;
}

.nav-item:hover {
    padding-top: 1px;
    color: #5ce1e6;
}

.nav-item.active {
    border-color: #5ce1e6;
}

.frenchFlag {
    width: 27px;
    height: 27px;
}
