.header {
    position: sticky;
    top: 0;
    background-color: black;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 0.4rem 2rem;
    z-index: 1;
    color: #E0E0E0   ;
    
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.nav {
    font-weight: 600;
    font-size: 1.125rem;
}

.nav-list {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style-type: none;
    margin: 0;
    padding: 0;
    min-height: 4rem; 
    font-family: 'Montserrat', Arial, sans-serif;
    /* text-transform: uppercase; */
}

.navFlag {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: absolute;
    right: 2rem;
}

.nav-item {
    padding: 1rem;
    border-bottom: 2px solid transparent;
    cursor: pointer;
    opacity: 0; 
    transition: opacity 0.5s ease-in-out; 
}

.nav-item.visible {
    opacity: 1; 
}

.nav-item:hover {
    padding-top: 1px;
    color: #1da9cc;
}

.nav-item.active {
    border-color: #1da9cc;
}

.frenchFlag {
    width: 27px;
    height: 27px;
}
