

.avatarPhoto {
    height: 15rem;
    width: auto;
}

.photoCard-container {
    min-height: 100vh;
    /* background-color: #f9fafb; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    /* overflow: hidden; */
    padding-top: 3rem; 
    padding-bottom: 3rem;
}

.photoCard-wrapper {
    /* max-width: 1280px;  */
    margin: 0 auto; 
}

.photoCard-group {
    position: relative;
}

.photoCard-background {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to right, #7e22ce, #ec4899);
    border-radius: 0.5rem;
    filter: blur(8px); 
    opacity: 0.25;
    transition: opacity 1s ease;
}

.photoCard-group:hover .photoCard-background {
    opacity: 1;
    transition-duration: 0.2s;
}

.photoCard-content {
    position: relative;
    padding: 1.5rem 2rem; 
    background-color: white;
    border-radius: 0.5rem; 
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1.5rem; 
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05); 
}

@media (max-width: 768px) { 
    .photoCard-container {
        min-height: 60vh;
    }

    .photoCard-content {
        padding: 1.3rem 1.3rem; 
    }
}